include ./_layout.jade
div.container
  include partials/navigation.jade
  div.menu-icon__wrapper
    a.menu-icon.js-navigation-button(href="#")
      svg.icon__hamburger-menu(role="img" width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32")
        path(d="M4 10h24a2 2 0 000-4H4a2 2 0 000 4zm24 4H4a2 2 0 000 4h24a2 2 0 000-4zm0 8H4a2 2 0 000 4h24a2 2 0 000-4z")
  h1.header__h1 Welcome back!
  h2.header__h2 Current temperature
  div.row.location-data
    div.location-data__title Location
    div.location-data__information Main House (Dover, NH)
    div.location-data__title Temperature
    div.location-data__information= JSON.stringify(data[0].temperature)
      span &#176; F
    div.location-data__title Last checked
    div.location-data__information= data[0].date_recorded
  div.row.temp-history
    h2.header__h2 Temperature history
    div.temp-history__location
      a(href="#").temp-history__location-header.js-dropdown-link
        h3.header__h3 Main House (Dover)
        svg.icon__caret-down.js-caret(role="img" width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 451.847 451.847")
          path(d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z")
      ul.temp-history__history-items
        each item in data
          li.temp-history__history-item
            span= JSON.stringify(item.temperature)
            span &#176; F on&nbsp;
            span= item.date_recorded
    div.temp-history__location
      a(href="#").temp-history__location-header.js-dropdown-link
        h3.header__h3 Vacation House (Bora Bora)
        svg.icon__caret-down.js-caret(role="img" width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 451.847 451.847")
          path(d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z")
      ul.temp-history__history-items
        li.temp-history__history-item 64 F @ 12:00PM 09/19/2019
        li.temp-history__history-item 71 F @ 11:00AM 09/19/2019
        li.temp-history__history-item 71 F @ 10:00AM 09/19/2019
        li.temp-history__history-item 73 F @ 9:00AM 09/19/2019
