doctype
html
  head
    script(src="js/index.js" type="module")
    link(rel="stylesheet" href="/index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap")
  body
    != yield