.settings {
  &__link-header {
    font-size: 14px;
  }

  &__link {
    color: #b37c57;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: #b37c57;
    }
  }
}

.divider-line {
  background-color: #dde2e3;
  height: 2px;
  margin: 36px 0; 
  width: 100%;
}