doctype
html
  head
    script(src="./js/index.js" type="module")
    script(src="./js/less.min.js" type="text/javascript")
    link(rel="stylesheet" type="text/css" href="index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    != yield